.app-div {
    display: flex;
    flex-direction: row;
}

.photo-grid {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.input-dialog {
    margin: 10px;
    padding: 10px;
    width: 50%;
}