.app-div {
    display: flex;
    flex-direction: row;
}

.photo-grid {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.input-dialog {
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.form-div {
    border: 2px solid black;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    border-radius: 5px;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.input-form  input {
    margin-bottom: 10px;
    width: 50%;
}

.button-div {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}

.form-button {
    margin-right: 10px;
}

.error-banner {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 0px;
    padding: 2px 2px 2px 0px;
    border: 1px solid rgba(153, 0, 0, 1.0);
    border-radius: 5px;
    background-color: rgba(153, 0, 0, 0.3);
}

.photo-card-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.photo-card-container button {
    height: 20px;
    width: 30px;
    margin-right: 10px;
}

.photo-card-container img {
    border-radius: 5px;
}

.photo-card-info {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 180 px;
}

.photo-card-caption {
    width: 205px;
    word-break: normal;
    overflow: auto;
}